<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.3.3.196"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="_10Main">
  <Property Name="Description" Value="Default Page"/>
  <Property Name="Height" Value="480"/>
  <Property Name="Index" Value="10"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="800"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[MainFrame]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="MainFrame"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="480"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="800"/>
      <Property Name="Z-Order" Value="1"/>
      <TextGroup>
        <TextLayer LanguageId="en"/>
        <TextLayer LanguageId="de"/>
        <TextLayer LanguageId="es"/>
        <TextLayer LanguageId="zh"/>
        <TextLayer LanguageId="fr"/>
        <IndexMap/>
      </TextGroup>
      <Controls/>
      <KeyMapping/>
    </Layer>
    <LayerRef Source="Source[local].Layer[Login]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Login"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Z-Order" Value="2"/>
    </LayerRef>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[Login].Control[Listbox_1]">
      <Property Name="Down" Value="Source[local].Layer[Login].Control[String_1]"/>
      <Property Name="Left" Value="Source[local].Layer[Login].Control[String_1]"/>
      <Property Name="Right" Value="Source[local].Layer[Login].Control[String_1]"/>
      <Property Name="Up" Value="Source[local].Layer[Login].Control[String_1]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[Login].Control[String_1]">
      <Property Name="Down" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
      <Property Name="Left" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
      <Property Name="Right" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
      <Property Name="Up" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
    <TabSeqItem Index="1" Value="Source[local].Layer[Login].Control[String_1]"/>
  </TabSequence>
</Page>