<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.3.3.196"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="_82SysAxisSetupBasic">
  <Property Name="Description" Value="Default Page"/>
  <Property Name="Height" Value="480"/>
  <Property Name="Index" Value="82"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="800"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[MainFrame]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="MainFrame"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[_8XSys_SubTabs]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="_8XSys_SubTabs"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="1"/>
    </LayerRef>
    <Layer Name="Units_Revs">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="480"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.HMI.AxisSetupBasicRevsSDP]"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="800"/>
      <Property Name="Z-Order" Value="2"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="97232" Value="JOG SPEED LOW"/>
          <Text ID="97233" Value="JOG SPEED HIGH"/>
          <Text ID="97234" Value="JOG/HOME ACCEL"/>
          <Text ID="97235" Value="JOG/HOME DECEL"/>
          <Text ID="97236" Value="JOG INCREMENT"/>
          <Text ID="97237" Value="HOME OFFSET"/>
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="97232" Value=""/>
          <Text ID="97233" Value=""/>
          <Text ID="97234" Value=""/>
          <Text ID="97235" Value=""/>
          <Text ID="97236" Value=""/>
          <Text ID="97237" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="97232" Value=""/>
          <Text ID="97233" Value=""/>
          <Text ID="97234" Value=""/>
          <Text ID="97235" Value=""/>
          <Text ID="97236" Value=""/>
          <Text ID="97237" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="zh">
          <Text ID="97232" Value=""/>
          <Text ID="97233" Value=""/>
          <Text ID="97234" Value=""/>
          <Text ID="97235" Value=""/>
          <Text ID="97236" Value=""/>
          <Text ID="97237" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="fr">
          <Text ID="97232" Value=""/>
          <Text ID="97233" Value=""/>
          <Text ID="97234" Value=""/>
          <Text ID="97235" Value=""/>
          <Text ID="97236" Value=""/>
          <Text ID="97237" Value=""/>
        </TextLayer>
        <IndexMap>
          <Index ID="97232" Value="5"/>
          <Index ID="97233" Value="6"/>
          <Index ID="97234" Value="7"/>
          <Index ID="97235" Value="8"/>
          <Index ID="97236" Value="9"/>
          <Index ID="97237" Value="10"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_14">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="562"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="5"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="215"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_15">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="562"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="6"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="265"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_17">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="562"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="7"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="115"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_18">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="562"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="8"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="165"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_16">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="562"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="9"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="315"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_20">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="312"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="10"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="115"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_9">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="562"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="135"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisConfig_revs.Accel]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_10">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="562"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="285"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisConfig_revs.JogSpeedHigh]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_11">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="562"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="235"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisConfig_revs.JogSpeed]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_12">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="562"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="185"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisConfig_revs.Decel]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_13">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="562"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="335"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisConfig_revs.JogIncrement]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_14">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="312"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="135"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisConfig_revs.HomeOffset]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="225"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
    <Layer Name="Units_Linear">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="480"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.HMI.AxisSetupBasicLinearSDP]"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="800"/>
      <Property Name="Z-Order" Value="3"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="97211" Value="JOG SPEED LOW"/>
          <Text ID="97212" Value="JOG SPEED HIGH"/>
          <Text ID="97213" Value="JOG/HOME ACCEL"/>
          <Text ID="97214" Value="JOG/HOME DECEL"/>
          <Text ID="97215" Value="JOG INCREMENT"/>
          <Text ID="97216" Value="HOME OFFSET"/>
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="97211" Value=""/>
          <Text ID="97212" Value=""/>
          <Text ID="97213" Value=""/>
          <Text ID="97214" Value=""/>
          <Text ID="97215" Value=""/>
          <Text ID="97216" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="97211" Value=""/>
          <Text ID="97212" Value=""/>
          <Text ID="97213" Value=""/>
          <Text ID="97214" Value=""/>
          <Text ID="97215" Value=""/>
          <Text ID="97216" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="zh">
          <Text ID="97211" Value=""/>
          <Text ID="97212" Value=""/>
          <Text ID="97213" Value=""/>
          <Text ID="97214" Value=""/>
          <Text ID="97215" Value=""/>
          <Text ID="97216" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="fr">
          <Text ID="97211" Value=""/>
          <Text ID="97212" Value=""/>
          <Text ID="97213" Value=""/>
          <Text ID="97214" Value=""/>
          <Text ID="97215" Value=""/>
          <Text ID="97216" Value=""/>
        </TextLayer>
        <IndexMap>
          <Index ID="97211" Value="5"/>
          <Index ID="97212" Value="6"/>
          <Index ID="97213" Value="7"/>
          <Index ID="97214" Value="8"/>
          <Index ID="97215" Value="9"/>
          <Index ID="97216" Value="10"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_14">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="562"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="5"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="215"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_15">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="562"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="6"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="265"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_17">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="562"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="7"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="115"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_18">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="562"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="8"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="165"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_16">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="562"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="9"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="315"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_20">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="312"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="10"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="115"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_9">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="562"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="135"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisConfig_linear.Accel]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_10">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="562"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="285"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisConfig_linear.JogSpeedHigh]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_11">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="562"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="235"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisConfig_linear.JogSpeed]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_12">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="562"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="185"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisConfig_linear.Decel]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_13">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="562"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="335"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisConfig_linear.JogIncrement]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_14">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="312"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="135"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisConfig_linear.HomeOffset]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="225"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
    <Layer Name="Units_Degrees">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="480"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.HMI.AxisSetupBasicDegreesSDP]"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="800"/>
      <Property Name="Z-Order" Value="4"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="96660" Value="JOG SPEED LOW"/>
          <Text ID="96661" Value="JOG SPEED HIGH"/>
          <Text ID="96662" Value="JOG/HOME ACCEL"/>
          <Text ID="96663" Value="JOG/HOME DECEL"/>
          <Text ID="96664" Value="JOG INCREMENT"/>
          <Text ID="96665" Value="HOME OFFSET"/>
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="96660" Value=""/>
          <Text ID="96661" Value=""/>
          <Text ID="96662" Value=""/>
          <Text ID="96663" Value=""/>
          <Text ID="96664" Value=""/>
          <Text ID="96665" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="96660" Value=""/>
          <Text ID="96661" Value=""/>
          <Text ID="96662" Value=""/>
          <Text ID="96663" Value=""/>
          <Text ID="96664" Value=""/>
          <Text ID="96665" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="zh">
          <Text ID="96660" Value=""/>
          <Text ID="96661" Value=""/>
          <Text ID="96662" Value=""/>
          <Text ID="96663" Value=""/>
          <Text ID="96664" Value=""/>
          <Text ID="96665" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="fr">
          <Text ID="96660" Value=""/>
          <Text ID="96661" Value=""/>
          <Text ID="96662" Value=""/>
          <Text ID="96663" Value=""/>
          <Text ID="96664" Value=""/>
          <Text ID="96665" Value=""/>
        </TextLayer>
        <IndexMap>
          <Index ID="96660" Value="35"/>
          <Index ID="96661" Value="36"/>
          <Index ID="96662" Value="37"/>
          <Index ID="96663" Value="38"/>
          <Index ID="96664" Value="39"/>
          <Index ID="96665" Value="40"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_14">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="562"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="35"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="215"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_15">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="562"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="36"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="265"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_17">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="562"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="37"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="115"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_18">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="562"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="38"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="165"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_16">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="562"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="39"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="315"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_20">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="312"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="40"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="115"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_9">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="562"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="135"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisConfig_degrees.Accel]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_10">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="562"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="285"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisConfig_degrees.JogSpeedHigh]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_11">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="562"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="235"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisConfig_degrees.JogSpeed]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_12">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="562"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="185"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisConfig_degrees.Decel]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_13">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="562"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="335"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisConfig_degrees.JogIncrement]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_14">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="312"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="135"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisConfig_degrees.HomeOffset]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="225"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="480"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="800"/>
      <Property Name="Z-Order" Value="5"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="95214" Value="ENABLED"/>
          <Text ID="95217" Value="JOLT TIME"/>
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="95214" Value=""/>
          <Text ID="95217" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="95214" Value=""/>
          <Text ID="95217" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="zh">
          <Text ID="95214" Value=""/>
          <Text ID="95217" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="fr">
          <Text ID="95214" Value=""/>
          <Text ID="95217" Value=""/>
        </TextLayer>
        <IndexMap>
          <Index ID="95214" Value="1"/>
          <Index ID="95217" Value="8"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001008" Name="Listbox_3">
          <Property Name="ButtonsBitmapGroup" Value="None"/>
          <Property Name="ButtonsPressedBitmapGroup" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="120"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.axisconfigindex]"/>
          <Property Name="Left" Value="15"/>
          <Property Name="LeftBitmap" Value="None"/>
          <Property Name="LeftTextGroup" Value="None"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxIndex" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIndex" Value="0"/>
          <Property Name="OptionDatapoint" Value="None"/>
          <Property Name="RightBitmap" Value="None"/>
          <Property Name="RightTextGroup" Value="None"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TextGroup" Value="Source[global].TextGroup[AxisList]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="115"/>
          <Property Name="Width" Value="274"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_19">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="312"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="1"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="215"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_21">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="312"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="8"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="165"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_15">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="312"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="185"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisConfig_notype.Limits.AXLIM_T_JOLT]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001018" Name="Dropdown_1">
          <Property Name="BackColor" Value="254"/>
          <Property Name="ButtonsBitmapGroup" Value="Source[local].BitmapGroup[DropDown]"/>
          <Property Name="ButtonsBitmapOffset" Value="0"/>
          <Property Name="ButtonsPressedBitmapGroup" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="ForeColor" Value="15"/>
          <Property Name="Height" Value="40"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.AxisConfig_notype.Disabled]"/>
          <Property Name="Left" Value="312"/>
          <Property Name="LeftBitmap" Value="None"/>
          <Property Name="LeftTextGroup" Value="None"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxIndex" Value="1"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIndex" Value="0"/>
          <Property Name="OptionDatapoint" Value="None"/>
          <Property Name="RightBitmap" Value="None"/>
          <Property Name="RightTextGroup" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[DropDown]"/>
          <Property Name="TextGroup" Value="Source[global].TextGroup[EnabledDisabled]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="235"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_5">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="30"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="255"/>
          <Property Name="PressedBitmapSource" Value="None"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[ScrollDownButton]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="202"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[AxisIndexDown]"/>
          <Property Name="Width" Value="30"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_8">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="30"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="255"/>
          <Property Name="PressedBitmapSource" Value="None"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[ScrollUpButton]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="118"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[AxisIndexUp]"/>
          <Property Name="Width" Value="30"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_1">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.Programs.Alarms.alarmmgr.AlarmBanner_CDP]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Size10B]"/>
          <Property Name="ForeColor" Value="45"/>
          <Property Name="Height" Value="40"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.Programs.hmimgr.axisconfigindex]"/>
          <Property Name="Left" Value="12"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="SAMPLE ALARM BANNER"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextDatapoint" Value="Source[global].Variable[DataSource.Programs.Alarms.alarmmgr.BasicText]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="MultipleStrings"/>
          <Property Name="Top" Value="235"/>
          <Property Name="Width" Value="280"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
    <LayerRef Source="Source[local].Layer[Login]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Login"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Z-Order" Value="6"/>
    </LayerRef>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[embedded].Layer[Units_Revs].Control[Numeric_9]">
      <Property Name="Down" Value="Source[embedded].Layer[Units_Linear].Control[Numeric_9]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Units_Linear].Control[Numeric_9]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Units_Linear].Control[Numeric_9]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Units_Linear].Control[Numeric_9]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Units_Revs].Control[Numeric_10]">
      <Property Name="Down" Value="Source[embedded].Layer[Units_Linear].Control[Numeric_10]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Units_Linear].Control[Numeric_10]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Units_Linear].Control[Numeric_10]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Units_Linear].Control[Numeric_10]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Units_Revs].Control[Numeric_11]">
      <Property Name="Down" Value="Source[embedded].Layer[Units_Linear].Control[Numeric_11]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Units_Linear].Control[Numeric_11]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Units_Linear].Control[Numeric_11]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Units_Linear].Control[Numeric_11]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Units_Revs].Control[Numeric_12]">
      <Property Name="Down" Value="Source[embedded].Layer[Units_Linear].Control[Numeric_12]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Units_Linear].Control[Numeric_12]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Units_Linear].Control[Numeric_12]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Units_Linear].Control[Numeric_12]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Units_Revs].Control[Numeric_13]">
      <Property Name="Down" Value="Source[embedded].Layer[Units_Linear].Control[Numeric_13]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Units_Linear].Control[Numeric_13]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Units_Linear].Control[Numeric_13]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Units_Linear].Control[Numeric_13]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Units_Revs].Control[Numeric_14]">
      <Property Name="Down" Value="Source[embedded].Layer[Units_Linear].Control[Numeric_14]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Units_Linear].Control[Numeric_14]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Units_Linear].Control[Numeric_14]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Units_Linear].Control[Numeric_14]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Units_Linear].Control[Numeric_9]">
      <Property Name="Down" Value="Source[embedded].Layer[Units_Degrees].Control[Numeric_9]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Units_Degrees].Control[Numeric_9]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Units_Degrees].Control[Numeric_9]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Units_Degrees].Control[Numeric_9]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Units_Linear].Control[Numeric_10]">
      <Property Name="Down" Value="Source[embedded].Layer[Units_Degrees].Control[Numeric_10]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Units_Degrees].Control[Numeric_10]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Units_Degrees].Control[Numeric_10]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Units_Degrees].Control[Numeric_10]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Units_Linear].Control[Numeric_11]">
      <Property Name="Down" Value="Source[embedded].Layer[Units_Degrees].Control[Numeric_11]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Units_Degrees].Control[Numeric_11]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Units_Degrees].Control[Numeric_11]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Units_Degrees].Control[Numeric_11]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Units_Linear].Control[Numeric_12]">
      <Property Name="Down" Value="Source[embedded].Layer[Units_Degrees].Control[Numeric_12]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Units_Degrees].Control[Numeric_12]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Units_Degrees].Control[Numeric_12]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Units_Degrees].Control[Numeric_12]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Units_Linear].Control[Numeric_13]">
      <Property Name="Down" Value="Source[embedded].Layer[Units_Degrees].Control[Numeric_13]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Units_Degrees].Control[Numeric_13]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Units_Degrees].Control[Numeric_13]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Units_Degrees].Control[Numeric_13]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Units_Linear].Control[Numeric_14]">
      <Property Name="Down" Value="Source[embedded].Layer[Units_Degrees].Control[Numeric_14]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Units_Degrees].Control[Numeric_14]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Units_Degrees].Control[Numeric_14]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Units_Degrees].Control[Numeric_14]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Units_Degrees].Control[Numeric_9]">
      <Property Name="Down" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Units_Revs].Control[Numeric_14]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Listbox_3]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Units_Revs].Control[Numeric_13]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Units_Degrees].Control[Numeric_10]">
      <Property Name="Down" Value="Source[embedded].Layer[Units_Revs].Control[Numeric_13]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Dropdown_1]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Units_Revs].Control[Numeric_10]"/>
      <Property Name="Up" Value="Source[local].Layer[Login].Control[String_1]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Units_Degrees].Control[Numeric_11]">
      <Property Name="Down" Value="Source[local].Layer[Login].Control[String_1]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Dropdown_1]"/>
      <Property Name="Right" Value="Source[local].Layer[Login].Control[String_1]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Units_Revs].Control[Numeric_12]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Units_Degrees].Control[Numeric_12]">
      <Property Name="Down" Value="Source[embedded].Layer[Units_Revs].Control[Numeric_11]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_15]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Listbox_3]"/>
      <Property Name="Up" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Units_Degrees].Control[Numeric_13]">
      <Property Name="Down" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Dropdown_1]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Units_Revs].Control[Numeric_13]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Units_Revs].Control[Numeric_10]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Units_Degrees].Control[Numeric_14]">
      <Property Name="Down" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
      <Property Name="Left" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Units_Revs].Control[Numeric_9]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Dropdown_1]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Listbox_3]">
      <Property Name="Down" Value="Source[local].Layer[Login].Control[String_1]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Units_Revs].Control[Numeric_9]"/>
      <Property Name="Right" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
      <Property Name="Up" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_15]">
      <Property Name="Down" Value="Source[local].Layer[Login].Control[String_1]"/>
      <Property Name="Left" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Units_Revs].Control[Numeric_12]"/>
      <Property Name="Up" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Dropdown_1]">
      <Property Name="Down" Value="Source[embedded].Layer[Units_Revs].Control[Numeric_10]"/>
      <Property Name="Left" Value="Source[local].Layer[Login].Control[String_1]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Units_Revs].Control[Numeric_11]"/>
      <Property Name="Up" Value="Source[local].Layer[Login].Control[String_1]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[Login].Control[Listbox_1]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Listbox_3]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Listbox_3]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Units_Revs].Control[Numeric_14]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Units_Revs].Control[Numeric_14]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[Login].Control[String_1]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Dropdown_1]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Listbox_3]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Dropdown_1]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Units_Revs].Control[Numeric_11]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[embedded].Layer[Default].Control[Listbox_3]"/>
    <TabSeqItem Index="1" Value="Source[embedded].Layer[Default].Control[Numeric_15]"/>
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[Dropdown_1]"/>
    <TabSeqItem Index="3" Value="Source[embedded].Layer[Units_Degrees].Control[Numeric_9]"/>
    <TabSeqItem Index="4" Value="Source[embedded].Layer[Units_Degrees].Control[Numeric_10]"/>
    <TabSeqItem Index="5" Value="Source[embedded].Layer[Units_Degrees].Control[Numeric_11]"/>
    <TabSeqItem Index="6" Value="Source[embedded].Layer[Units_Degrees].Control[Numeric_12]"/>
    <TabSeqItem Index="7" Value="Source[embedded].Layer[Units_Degrees].Control[Numeric_13]"/>
    <TabSeqItem Index="8" Value="Source[embedded].Layer[Units_Degrees].Control[Numeric_14]"/>
    <TabSeqItem Index="9" Value="Source[embedded].Layer[Units_Linear].Control[Numeric_9]"/>
    <TabSeqItem Index="10" Value="Source[embedded].Layer[Units_Linear].Control[Numeric_10]"/>
    <TabSeqItem Index="11" Value="Source[embedded].Layer[Units_Linear].Control[Numeric_11]"/>
    <TabSeqItem Index="12" Value="Source[embedded].Layer[Units_Linear].Control[Numeric_12]"/>
    <TabSeqItem Index="13" Value="Source[embedded].Layer[Units_Linear].Control[Numeric_13]"/>
    <TabSeqItem Index="14" Value="Source[embedded].Layer[Units_Linear].Control[Numeric_14]"/>
    <TabSeqItem Index="15" Value="Source[embedded].Layer[Units_Revs].Control[Numeric_9]"/>
    <TabSeqItem Index="16" Value="Source[embedded].Layer[Units_Revs].Control[Numeric_10]"/>
    <TabSeqItem Index="17" Value="Source[embedded].Layer[Units_Revs].Control[Numeric_11]"/>
    <TabSeqItem Index="18" Value="Source[embedded].Layer[Units_Revs].Control[Numeric_12]"/>
    <TabSeqItem Index="19" Value="Source[embedded].Layer[Units_Revs].Control[Numeric_13]"/>
    <TabSeqItem Index="20" Value="Source[embedded].Layer[Units_Revs].Control[Numeric_14]"/>
    <TabSeqItem Index="21" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
    <TabSeqItem Index="22" Value="Source[local].Layer[Login].Control[String_1]"/>
  </TabSequence>
</Page>